@page "/"

<PageTitle IconClass="fas fa-chart-bar" Title="Dashboard" />
<div class="row">
    <div class="col-12 col-md-4">
        <DashBoardBox BgColorClass="bg-default"
                      IconClass=" fas fa-microchip"
                      Title="Devices" CardNumber="450"
                      ProgressDescription="of 500 devices" />
    </div>
    <div class="col-12 col-md-4">
        <DashBoardBox BgColorClass="deep-purple lighten-3"
                      IconClass=" fas fa-envelope"
                      Title="Devices" CardNumber="1500"
                      ProgressDescription="of 8000 messages/day" />
    </div>
    <div class="col-12 col-md-4">
        <DashBoardBox BgColorClass="pink lighten-3"
                      IconClass=" fas fa-thermometer-three-quarters"
                      Title="Devices" CardNumber=" 23 C"
                      ProgressDescription="" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <LineChartBox  Title="Temperature Over Time" LineChartId="temperature_linechart"/>
    </div>
</div>
