@inject IJSRuntime JSRuntime

<div class="card dashboard-card card-transition @TextColorClass @BgColorClass mb-4 ">
    <div class="card-header">
        <span class="card-title"> @Title</span>
            <span class="card-tools">
                <a href="javascript:;"> <i class="fas fa-sync-alt"></i></a>
            </span>
     </div>
    
        <div id="chart_placeholder" class="card-body">

        </div>
</div>


@code {
    [Parameter]
    public string TextColorClass { get; set; } = "text-dark";
    [Parameter]
    public string BgColorClass { get; set; } = "bg-white";
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string LineChartId { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("insertTemperatureLineChart");

        await JSRuntime.InvokeVoidAsync("populateTemperatureLineChart");
    }
}

