<div class="side-nav">
    <NavLink class="link-item" href="" Match="NavLinkMatch.All"> <i class="fas fa-chart-bar"></i></NavLink>
    <NavLink class="link-item" href="devices" > <i class="fa fa-microchip"></i></NavLink>
    <NavLink class="link-item" href="settings" > <i class="fas fa-cog"></i></NavLink>
    <NavLink class="link-item" href="logout" > <i class="fas fa-sign-out-alt"></i></NavLink>
</div>
