@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins/poppins-v5-latin-regular.eot');
    src: local('Poppins Regular'), local('Poppins-Regular'),
        url('../fonts/poppins/poppins-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/poppins-v5-latin-regular.woff2') format('woff2'), 
        url('../fonts/poppins/poppins-v5-latin-regular.woff') format('woff'),
        url('../fonts/poppins/poppins-v5-latin-regular.ttf') format('truetype'),
        url('../fonts/poppins/poppins-v5-latin-regular.svg#Poppins') format('svg');
}


html, body {
    background-color: #f1f4f7;
    color:rgba(0,0,0,0.87);
    line-height: 1.7;
    font-family: Poppins,sans-serif;
}

.page-wrapper{
    display: flex;
}
.side-nav{
    display: flex;
    flex-direction: column;
    background-color: #111;
    color: #818181;
    padding-bottom: 0.8em;
}

.side-nav > a:hover{
    color: #ffffff;
}
.content-wrapper{
    margin: 1rem;
}
.content-wrapper > .page-title{
    display: block;
    padding: 0;
    margin: 1rem 0 1rem;
    color:#666666;
    font-size: 2.5em;
    font-weight: 300;
}
    .content-wrapper > .page-title > i {
        margin-right: 1rem;
    }
.dashboard-card {
    padding: 1rem;
    border-radius: 1rem;
}
    .dashboard-card > .card-body {
        display:flex;
    }
        .dashboard-card > .card-body > .card-icon {
            text-align:center;
        }
            .dashboard-card > .card-body > .card-icon > i {
                font-size: 2rem;
                padding: 1.5rem;
                min-width: 5rem;
                background: rgba(0,0,0, .2);
                border-radius: 100%;
            }
        .dashboard-card > .card-body > .card-text {
            width: 100%;
            margin-left: 2rem;
        }
            .dashboard-card > .card-body > .card-text > .card-title {
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: -0.05rem;
            margin-top: 0.9rem;
            }
            .dashboard-card > .card-body > .card-text > .card-number {
            font-size: 1.8rem;
            font-weight:300;
            }
            .dashboard-card > .card-body > .card-text > .progress {
                background: rgba( 0,0,0,0.2);
                margin: 5px -10px 5px 0;
                height: 8px;
            }
            .dashboard-card > .card-body > .card-text > .progress > .progress-bar{
                border-radius: 0;
                background: rgba( 0,0,0,0.4);                
            }
            .dashboard-card > .card-body > .card-text > .progress-description {
                display: block;
                font-size: 1rem;
                font-weight: 400;
                min-height: 2rem;
            }
            .card-w-header{
                border-radius:1rem;
            }

                .card-w-header > .card-header {
                    display: flex;
                    justify-content: space-between;
                    background: transparent !important;
                }
                .card-w-header > .card-header > .card-title{
                    margin:0;
                    font-size: 1.2rem;
                } 
                .card-w-header > .card-header > .card-tools{
                    margin-top:3px;
                    font-size: 1.2rem;
                }
                    .card-w-header > .card-header > .card-tools > a {
                        color: #666666;
                    }
.card-transition:hover {
    -webkit-transition: all .05s ease-in-out;
    transition: all .05s ease-in-out;

    -webkit-transition: translateY(-1px);
    transition: translateY(-1px);

    -moz-box-shadow: 0 15px 15px rgba(0,0,0,.1);
    web-kit-shadow: 0 0 25px -5px #9e9c9e;
    box-shadow: 0 0 20px -5px #9e9c9e;
}